html, body {
    margin: 10px;
    padding: 10px;
}

#obt_messages {
    background-color: white;
    margin-top: 10px;
}

#obt_todo_list {
    background-color: white;
}

#obt_todo_list .list-group-item {
    margin: 10px;
    padding: 0;
    font-size: 18px;
    border: none;
}

#obt_todo_list .list-group-item i {
    margin-right: 10px;
}
