html, body {
    margin: 10px;
    padding: 10px;
}

#obt_messages {
    margin-top: 10px;
    height: 500px;
}

#obt_todo_list {
    margin-top: 10px;
    height: 500px;
}

.list-group-item {
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    border: none;
    border-left: 1px solid #ddd;
    background-color: white;
}

#obt_todo_list .list-group-item {
    border: none;
    font-size: 18px;
}

#obt_todo_list .list-group-item i {
    margin-right: 10px;
}
